@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

footer,
footer > .container {
	display: grid;
}

footer {
	padding: 1em 0;
}

footer > .container {
	justify-items: center;
}

footer p {
	font-size: 0.75em;
}
